<nav class="navbar is-transparent has-shadow is-transparent">
        <div class="container">
         <div class="navbar-brand">
           <a class="navbar-item logo-navbar" href="/">MyCompanyLogo</a>
         <div class="navbar-burger burger " (click)="toggleNav = !toggleNav;"[ngClass]="{'is-active':toggleNav}" >
           <span></span>
           <span></span>
           <span></span>
         </div>
       </div>  
     <div class="navbar-menu" [ngClass]="{'is-active':toggleNav}"  >
       <div class="navbar-end">
           <a class="navbar-item" routerLink='/'>Home</a>
   
           <a class="navbar-item" to='/'>Features</a>
         
           <a class="navbar-item" to='/'>About</a> 
   
           <a class="navbar-item" routerLink='/faq'>FAQ</a>
       
         </div>
     </div>    
       <div class="navbar-end">
         <div class="navbar-item">
           <a href="" class="button is-primary is-outlined ">
             <span class="fa fa-download"> </span><span> </span>
             <span>  Join Now</span>
             </a>
         </div>
       </div>
     </div>
   </nav>
       <!-- Navbar ended -->
<router-outlet></router-outlet>
<footer class="footer is-primary">
        <div class="container">
          <div class="columns">
            <div class="column">
              <p>some text in the footer that we have it hahah some text in the footer that we have it hahah </p>
            </div>
            <div class="column has-text-right">
              <a href=""  class="icon"><i class="fa fa-facebook"></i></a>
              <a href="#" class="icon"><i class="fa fa-instagram"></i></a>
              <a href="#" class="icon"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </footer>